# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Fortran module files
*.mod
*.smod

# Executables
*.out
*.app

.vs/
.VS/
release/
debug/
Release/
debug/
gpp_physics/*.txt
proto3d/gui_project/*.h
proto3d/gui_project/*.cpp
*.bak
__pycache__/
